.form-box {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    max-width: 500px !important; /* Add !important */
    margin: 0 auto;
  }
  

.form-box h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-box p {
    text-align: center;
    margin-top: 20px;
}

.form-box .form-control {
    border-color: #ccc;
}

.form-box .form-control:focus {
    border-color: #007bff;
    box-shadow: none;
}

.form-box .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    width: 100%;
}

.form-box .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.form-box .text-link {
    color: #007bff;
    cursor: pointer;
}

.password-input-container {
    position: relative;
  }
  
  .password-input-container .password-toggle-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .password-input-container input[type="password"] {
    padding-right: 30px; /* Adjust this value according to the icon size */
    width: 100%;
    box-sizing: border-box; /* Ensure padding is included in the width */
  }
  
  
  